# This workflow will check best practices
# For more information see: https://github.com/pmd/pmd/blob/master/pmd-java/src/main/resources/category/java/bestpractices.xml

name: cerberus best practices

on:
  push:
    paths-ignore:
    - '**.md'
  pull_request:
    paths-ignore:
    - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: run bestpractices
      run: java -jar cerberus-4.0.jar FPM --files=./src --java-version=8 --language=java --rulesets="category/java/bestpractices.xml"
    - name: run token check
      run:  java -jar cerberus-4.0.jar CPD --files=./src/main --format=text --language=java --minimum-tokens=35
